html {
  		font-size: 16px;
  		font-family: sans-serif;
  	}

    html, body {
      height: 100%;
    }

  	h1, h2 {
  		text-align: center;
  	}

  	a, a:link, a:active {
  		text-decoration: none;
  	}

  	a:hover {
  		text-decoration: underline;
  	}

  	.container {
  		position: relative;
  		max-width: 990px;
  		margin: 30px auto;
  		border-radius: 20px;
  		border: solid 1px #DDD;
  		padding: 10px;
  		box-sizing: border-box;
  	}

  	.inline-list li {
  		display: inline-block;
  	}

  	.edit-item {
  		font-size: 0.8rem;
  		color: #00F;
  		position: absolute;
  		right: 0px;
  		top: -20px;
  		display: inline-block;
  		cursor: pointer;
      z-index: 99;
  	}

  	.carousel-list {
  		margin: 0;
  		padding: 0;
  		position: absolute;
  	}

  	.carousel-list li {
  		width: 100%;
  		float: left;

  	}
  	.carousel-list img {
  		display: block;
  		width: 100%;
  	}

  	.carousel-viewport {
  		position: relative;
  		overflow: hidden;
  	}

  	.carousel-container {
  		max-width: 640px;
  		position: relative;
  		margin: auto;
  	}

  	.carousel-btn {
  		background-color: #9210FF;
  		color: #FFF;
  		text-align: center;
  		width: 30px;
  		height: 60px;
  		position: absolute;
  		top: 50%;
  		margin-top: -60px;
  		z-index: 99;
  		line-height: 60px;
  		border-radius: 10px;
  		transition: all ease-in .2s;
  	}

  	.carousel-btn:hover {
  		text-decoration: none;
  		background-color: #600AAB;
  	}

  	.carousel-btn.carousel-prev {
  		left: 5px;
  	}

  	.carousel-btn.carousel-next {
  		right: 5px;
  	}

    .admin-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    .admin-wrapper h1, .admin-wrapper h2 {
      text-align: left;
      margin-left: 15px;
    }

    .admin-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.6);
    }

    .admin-content {
      position: relative;
      margin: 20px auto;
      background-color: #FFF;
      max-width: 800px;
      padding: 10px;
      border-radius: 20px;
    }

    .admin-close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }

    .admin-image-list {
      margin: 0;
      padding: 0;
    }

    .admin-image-list li {
      display: inline-block;
      width: 30%;
      box-sizing: border-box;
      padding: 10px;
      margin: 10px;
      border: solid 1px #DDD;
      border-radius: 10px;
      cursor: pointer;
      transition: all ease-in .2s;
    }

    .admin-image-list li:hover {
      background-color: #E2E2E2;
    }

    .admin-image-list li.selected {
      border: solid 3px #00F;
    }

    .admin-thumb {
      width: 100%;
      display: block;
    }

    .admin-img-name {
      display: block;
      text-align: center;
      margin-top: 10px;
    }

    .admin-selected-list {
      margin: 0;
      padding: 0;
      margin-left: 15px;
    }

    .admin-selected-list li {
      max-width: 100px;
      margin-right: 5px;
      margin-left: 0;
      position: relative;
      border: solid 1px #DDD;
    }

    .save-button {
      font-size: 1.2rem;
      padding: 10px;
      cursor: pointer;
      margin: 15px;
    }

    .remove-item {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px;
      background-color: rgba(255,255,255,0.8);
      cursor: pointer;
      font-size: 0.8rem;
    }

    .remove-item:hover {
      text-decoration: none;
    }

  	@media screen and (max-width: 600px){
  		html {
  			font-size: 14px;
  		}
  	}