<div class="admin-wrapper" data-index="<%= dataIndex %>">
    <div class="admin-overlay"></div>
    <div class="admin-content">
      <a class="admin-close"> X </a>
      <h1>Escolha as imagens</h1>
      <ul class="admin-image-list">
      </ul>
      <div class="admin-selected">
        <h2>Imagens selecionadas:</h1>
        <ul class="admin-selected-list inline-list">
        </ul>
        <input type='hidden' class='input-selected-images' data-selected='{"images":[]}'>
      </div>
      <div class="save-container">
        <button class="save-button admin-save-button">Salvar</button>
      </div>

    </div>
</div>